<@charset "UTF-8";>

h1{
  font-size: 20px,
  color: #00ced1;
}

body {
    background: #c7dba7;
  }

#StyleLang {
  color:#4f666a;
  font-size:16px;
  border: 1px solid #c7dba7;
}

#StyleTable{
  background: #f4eded;
  padding: 10px;
  text-align: center;
}
